@using SubjectRegister.Common;
@model UserInfo

<a href="@Url.Action("Profile", "Login")" class="nav-link icon-images">
    <div class="nav-profile-image">
        <img class="img-avatar-fomat" src="@Model.ImagePath" alt="profile">
        <span class="login-status online"></span>
        <!--change to offline or busy as needed-->
    </div>
    <div class="nav-profile-text d-flex flex-column">
        <span class="font-weight-bold mb-2">@Model.Fullname</span>
        <span class="text-secondary text-small">@Model.RoleName</span>
    </div>
    <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
</a>