@model List<SubjectModel>
@{
    ViewBag.Title = "Lập kế hoạch học tập";
    ViewBag.Active = "StudyPlan";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Table.css" />
    <link rel="stylesheet" href="~/css/Register.css" />
}

<div id="modal-content"></div>
<div class="row">
    <div class="col-12">
        <h2 class="text-primary text-center p-2 rounded">Thêm môn học vào kế hoạch</h2>
        <div style="margin: 10px 0">
            <span style="font-size: 20px; font-family: auto;">
                <strong>Lưu ý:</strong> Mỗi sinh viên chỉ được đăng ký tối đa 25 tín chỉ cho mỗi kỳ học
            </span>
        </div>
        <div class="card">
            <div class="table-responsive table-scroll">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Mã môn học</th>
                            <th>Tên môn học</th>
                            <th>Số tín chỉ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="detail">
                                <td class="edit-column">@item.SubjectCode</td>
                                <td class="edit-column">@item.SubjectName</td>
                                <td class="edit-column">@item.NumberOfCredits</td>
                                <td class="edit-column"><span data-subject-code="@item.PlannedCode" class="register">Đăng ký</span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(document).on('click', '.register', function () {
                let code = $(this).data('subject-code');

                $.ajax({
                    url: '/StudyPlan/Add',
                    data: { PlannedCode: code },
                    type: 'post',
                    cache: false,
                    success: function (response) {
                        $('#modal-content').html(response);
                        var myModal = new bootstrap.Modal(document.getElementById('modal-content').querySelector('.modal'));
                        myModal.show();
                    }
                });
            });
        });
    </script>
}